<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Travel Planner</title>
</head>
<body>
<div id="mainContainer">
    <form class="mainForm" action="main.html" method="GET">
        <div id="addTripForm">
            <h1>Plan your next trip</h1>
          <input type="text" id="location" name="location" placeholder="Trip to">
            <input type="date" id="tripDate" name="tripDate" required>
            <input type="submit">
        </div>
    </form>
</div>
</body>
</html>