<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Travel Planner</title>
</head>
<body onload="return Client.handleSubmit(event)">

<div class="container" id="container">
    <div class="headerBox" >
        <h1 class="hTitle">Travel Planner</h1>
    </div>
   <div class="chapterBox" id="chapterBox">
        <div class="myTripColumn1">
            <div class="tripImg" id="tripImg"><img   alt="mr website" height="300px" width="400px"></div>
        </div>
        <div class="myTripColumn2">
          <div class="buttonSave" id="buttonSave"></div>
          <form class="buttonRemove" action="index.html"><button  type = "submit" onclick=""> Remove This Trip </button></form>
            <div class="tripTo tripFormItem" id="tripTo"><h2>My trip to:</h2></div>
            <div class="flightInfo tripFormItem" id="flightInfo"><h2>Departing:</h2></div>
            <div class="daysAway tripFormItem" id="daysAway"><h2>days away</h2></div>
            <div class="weather tripFormItem" id="weather"><h2>weather</h2></div>
        </div>
        <div class="myTripButtons">
          <button class="button1" type = "submit" onclick="return Client.addFlightForm()"> Add Flight Itinerary</button>
          <button class="button2" type = "submit" onclick="return Client.addToDoListForm()"> Add Todo List </button>
          <button class="button3" type = "submit"> Add Notes </button>
        </div>
    </div>
    <div class="addFlightForm " id="addFlightForm"> </div>
    <div class="addTodoList " id="addTodoList"> </div>
    <div class="footerBox" >
        <a href="https://twitter.com/udacity">
            <img  alt="Twitter" class="footerImg">
          </a>     
          <a href="https://www.instagram.com/udacity/">
            <img  alt="Instagaram" class="footerImg">
          </a>    
          <a href="https://accounts.google.com/ServiceLogin/signinchooser?passive=1209600&osid=1&continue=https%3A%2F%2Fplus.google.com%2F%2BUdacity&followup=https%3A%2F%2Fplus.google.com%2F%2BUdacity&flowName=GlifWebSignIn&flowEntry=ServiceLogin" >
            <img  alt="G" class="footerImg">
          </a>    
          <a href="https://www.facebook.com/" >
            <img  alt="facebook" class="footerImg">
          </a>  
    </div>
</div>
</body>
</html>
