#mainContainer {
    display: flex;           /* establish flex container */
    flex-direction: row;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 65vh;
}

.mainForm {
    width: 1fr;
    margin: 5px;
    text-align: center;     /* will center text in <p>, which is not a flex item */
}