.chapterNumber{
    width:auto;
    height:auto;
}
.chapterName{
    width:auto;
    height:auto;
    text-decoration: underline;
}
.chapterContents{
    width:auto;
    height:250px;
    font-style: italic;
}
.sidebarContents{
    color:red;    
}