@import "cssHeaderBox.scss";
@import "cssAddTrip.scss";
@import "cssIndexChapterBox.scss";
@import "cssFooterBox.scss";

.container{
    display: grid;
    width: 65vw;
    height:90vh;
    margin: auto;
    grid-template-columns:  850px;                       
    grid-template-rows: 15vh 
                        50vh            
                        15vh;   
    grid-gap:12px;
    grid-template-areas: "H"
                        "myTrip" 
                        "F";
} 